/venv/*
*/venv/*
__pycache__/*
*/__pycache__/*
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/onsei/*
/onsei/
*/onsei/*
*/wavehax/*
/wavehax/*
/fast-speech-2/
*/fast-speech-2/*
*/fastSpeechVenv/*
/fastSpeechVenv/
/kaldi/*
/kaldi/
*.zip
*.wav
*.lab
*.csv
*.mp3
*.metadata.txt